/*BEGIN PS4 White Controller Styling*/
.controller.ds4.white {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/base.svg);
}

.ds4.white .trigger {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/triggers.svg);
}

.ds4.white .bumper {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/bumper.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/start.svg);
}

.ds4.white .button {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/face.svg);
}

.ds4.white .stick {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/sticks.svg);
}

.ds4.white .face {
    background-image: url(https://github.com/D-Flow/gamepad/blob/main/dpad.svg);
}

/*END PS4 White Controller Styling*/
